html {
    --text: #000000;
--background: #d8d8d8;
--primary: #ffffff;
--secondary: #e7e0e0;
--accent: #d7d2d2;
}

h1{
    border: 2px solid;
    
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "amarna" ;
    text-align: center;
}

h1,
h2,
h3 {
    color: var(--primary);
    font-family: "kapakana" ;
    font-size: 50px;
    font-weight: 500;
}
p {
    background: var(--accent);
}

li::marker {
    color: var(--secondary);
}

img {}